@font-face {
  font-family: 'Monument Grotesk Semi';
  src: url('../../assets/fonts/EduMonumentGroteskSemi-Mono/EduMonumentGroteskSemi-Mono-Regular.woff2')
      format('woff2'),
    url('../../assets/fonts/EduMonumentGroteskSemi-Mono/EduMonumentGroteskSemi-Mono-Regular.woff')
      format('woff')
      url('../../assets/fonts/EduMonumentGroteskSemi-Mono/EduMonumentGroteskSemi-Mono-Regular.otf')
      format('otf');
}
@font-face {
  font-family: 'Monument Grotesk';
  src: url('../../assets/fonts/MonumentGrotesk/MonumentGrotesk-Regular.woff')
    format('woff');
}
.container-staking {
  font-family: 'Monument Grotesk Semi';
  padding: 5px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.p-50 {
  padding: 50px;
}
.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.mb-15 {
  margin-bottom: 15px;
}
.white-color {
  color: white !important;
}
.opacity-5 {
  opacity: 0.5;
}
.opacity-25 {
  opacity: 0.25;
}
.opacity-75 {
  opacity: 0.75;
}
.float-right {
  float: right;
}
.width-402 {
  width: 402px !important;
}
.width-202 {
  width: 202px !important;
}
.width-415 {
  max-width: 415px !important;
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}
.border-radius-6 {
  border-radius: 6px !important;
}
.text-center {
  text-align: center;
}
/* TVL Box */
/* .tvl-container {
  position: absolute;
  width: 400px;
  height: 35px;
  right: 3px;
  top: 80px;

  background: linear-gradient(
    135deg,
    rgba(91, 204, 189, 0.14902) 0%,
    rgba(97, 192, 191, 0.14902) 33.33%,
    rgba(85, 188, 200, 0.14902) 74.49%,
    rgba(105, 207, 184, 0.14902) 100%
  );
  border: 1px solid rgba(97, 192, 191, 0.25);
  border-radius: 6px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tvl-container div {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #ffffff;
}
.tvl-child-border {
  width: 0px;
  height: 35px;

  border: 1px solid #234645;
} */

/* Description */

.staking-desc {
  /* margin-top: 100px; */
  max-width: 895px;
  margin: 100px auto 0;
  padding: 0px 90px;
}
.title-container {
  padding: 10px;
  text-align: center;
}
.title-container img {
  padding-left: 5px;
  width: 28px;
}
.title {
  /* height: 42px; */
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.uppercase {
  text-transform: uppercase;
}
.staking-desc p {
  max-width: 895px;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-align: center;

  color: #bab7b7;

  text-shadow: 0px 0px 4px rgba(255, 142, 142, 0.25);
}
.yearn-finance {
  color: #006ae3;
}
.yearn-finance img {
  vertical-align: -1px;
  width: 13px;
}
.blue-color {
  color: #08a4f5;
}

/* Content */
.staking-content {
  padding: 50px;
  margin: 0 auto;
}

.wrap-tokens {
  margin-top: 30px;
}
.token-container {
  display: block;
  max-width: 1200px;
  background: #0d0d0d;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;

  padding: 30px;
}

.collapse-trigger {
  display: flex;
  justify-content: space-between;
}
.collapse-trigger > * {
  flex-basis: 33.33%;
}
.token-title {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  /* identical to box height */

  color: #ffffff;
}
.wallet-amount {
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 14px;
}

.apy {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.swap-BPT {
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.expand-container {
  display: flex;
  align-items: center;
}
.expand-btn {
  min-width: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  margin-left: 15px;
  text-align: right;

  color: rgba(255, 255, 255, 0.5);
}
.expand-btn img {
  padding: 0 5px;
  width: 18px;
}
.expand-btn-open {
  transform: rotate(180deg);
}

/* .stake-btn {
  width: 150px;
  height: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  padding: 8px 10px;

  text-align: center;
  position: relative;
  color: #ffffff;
  margin: 0 3px;
} */
/* .stake-btn:hover {
  background: linear-gradient(90deg, #08a4f5 -0.01%, #2bede3 93.42%),
    linear-gradient(247.41deg, #a2fbb0 16.32%, #5ec4d6 87.6%);
  border-radius: 6px;
} */

/* .stake-btn::before {
  content: '';
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background: linear-gradient(90deg, #08a4f5 -0.01%, #2bede3 93.42%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
} */

/* end Content */

/* collapse content */
.collapse-border {
  width: 1138px;
  height: 0px;
  margin: 22px 0;
  opacity: 0.5;
  border: 1px solid #ffffff;
}
.userInfo-container {
  padding: 30px 0 30px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.userInfo-container:last-child {
  border-bottom: none;
}
.userInfo-pool {
  font-style: normal;
  font-size: 12.5px;
  line-height: 15px;
  /* height: 32px; */
  max-width: 384px;
  color: #ffffff;
}

.wrap-box {
  background: #0d0d0d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.wrap-box > * {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #ffffff;
}
.wrap-box-gray-complete-exit {
  border: 1px solid rgba(100, 100, 100, 0.498039);
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  width: 402px;
  height: 35px;
}
.wrap-box-gray-complete-exit > div {
  flex-basis: 50%;
  border-right: 1px solid rgba(100, 100, 100, 0.498039);
  padding: 8px 24px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
.wrap-box-gray-complete-exit > div:last-child {
  border-right: none;
}
.wrap-box-gray-complete {
  border: 1px solid rgba(100, 100, 100, 0.498039);
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  /* max-width: 571px; */
  width: 100%;
  height: 35px;
}
.wrap-box-gray-complete > div {
  flex-basis: 33.33%;
  border-right: 1px solid rgba(100, 100, 100, 0.498039);
  padding: 8px 24px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
.wrap-box-gray-complete > div:last-child {
  border-right: none;
}
.wrap-box-gray {
  border: 1px solid rgba(100, 100, 100, 0.498039);
  box-sizing: border-box;
  border-radius: 6px 0px 0px 6px;
  display: flex;
  justify-content: space-between;
  width: 421px;
  height: 35px;

  padding: 8px 24px;
}
.wrap-box-center {
  border: 1px solid rgba(100, 100, 100, 0.498039);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 271px;
  height: 35px;

  padding: 8px 24px;
}
.wrap-box-red {
  border-radius: 6px 0px 0px 6px;
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #ff5555;

  border: 1px solid #ff5555;
  box-sizing: border-box;
  padding: 8px 17px;
}
.wrap-box-exit {
  border-radius: 6px;
  width: 200px;
  height: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #ff5555;

  border: 1px solid #ff5555;
  box-sizing: border-box;
  padding: 8px 17px;
}
.wrap-box-gradient-complete {
  position: relative;
  padding: 8px 10px;
  max-width: 571px;
  width: 100%;
  height: 35px;
  text-align: center;
}
.wrap-box-gradient-complete::before {
  content: '';
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background: linear-gradient(90deg, #08a4f5 -0.01%, #2bede3 93.42%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.wrap-box-gradient {
  position: relative;
  padding: 8px 10px;
  width: 150px;
  height: 35px;
  text-align: center;
}
.wrap-box-gradient::before {
  content: '';
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0px 6px 6px 0px;
  background: linear-gradient(90deg, #08a4f5 -0.01%, #2bede3 93.42%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.wrap-box-gradient-left {
  position: relative;
  padding: 8px 10px;
  width: 150px;
  height: 35px;
  text-align: center;
}
.wrap-box-gradient-left::before {
  content: '';
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px 0px 0px 6px;
  background: linear-gradient(90deg, #08a4f5 -0.01%, #2bede3 93.42%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.exit-valuet {
  /* height: 34px; */
  font-size: 12.5px;
  line-height: 15px;
}
.text-box-redeemable-conatniner {
  display: flex;
  justify-content: flex-end;
}
.text-box-redeemable {
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 20px;
  /* identical to box height, or 222% */
  width: 571px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}
.frozen-desc {
  max-width: 400px;
  font-family: 'Monument Grotesk Semi';
  font-size: 12.5px;
  line-height: 15px;
  margin-bottom: 15px;
  color: #ffffff;
}
.frozen-desc p:first-child {
  padding-top: 0;
}
.frozen-desc p {
  padding-top: 10px;
}
.width-271 {
  max-width: 271px !important;
}
.input-transparent {
  background: transparent;
  border: transparent;
  width: 80%;
  color: #ffffff;
}

.fluid {
  width: 55px;
  height: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 20px;
  /* or 222% */

  color: #ffffff;

  opacity: 0.5;
}
.hour {
  width: 84px;
  height: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: right;

  color: #ffffff;
}
.width-150 {
  width: 150px !important;
}
.fluid-footer-exit {
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  /* identical to box height, or 222% */

  color: #ffffff;

  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  width: 402px;
  height: 35px;
  float: right;
}
.fluid-footer-exit > div {
  flex-basis: 50%;
}
.fluid-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  /* identical to box height, or 222% */

  color: #ffffff;

  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  max-width: 571px;
  width: 100%;
  float: right;
}
.fluid-footer > div {
  flex-basis: 33.33%;
}
.fluid-footer-container {
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  align-items: flex-end;
}

.fluid-box-content {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #ffffff;
}
.deposit-btn {
  width: 275px;
  margin: 20px 0 20px 20px;
}
.deposit-btn-conatiner {
  display: flex;
  justify-content: flex-end;
}

/*  Deposit Content */

.deposit-container {
  width: 100%;
  max-width: 415px;
  display: flex;
  flex-direction: column;
  margin: 60px auto 0;
}
.deposit-container > * {
  margin-bottom: 10px;
}
.vault-exit {
  background: #0d0d0d;
  border: 1px solid rgba(0, 209, 108, 0.5);
  border-radius: 100px;
  display: block;
  width: 100%;
  height: 35px;
  padding: 10px 21px;
  display: flex;
  justify-content: space-between;
}
.vault-exit-title {
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px;
  line-height: 14px;

  color: #ffffff;
}
.vault-exit-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
}
.opacity-25 {
  opacity: 0.25;
}
.off-btn {
  color: rgba(255, 85, 85);
  text-transform: uppercase;
}
.on-btn {
  color: #00d16c;
  padding-left: 10px;
  text-transform: uppercase;
}
.gray-box {
  border: 1px solid rgba(100, 100, 100, 0.498039);
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 35px;
  padding: 10px 21px;
}
.gray-box > * {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  /* line-height: 20px; */
  /* identical to box height, or 167% */

  color: #ffffff;
}
.balance-wallet {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  padding: 0 21px;
  color: rgba(255, 255, 255, 0.5);
}
.contract-box {
  border: 1px solid rgba(100, 100, 100, 0.498039);
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.show-contract {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: rgba(255, 255, 255, 0.5);
}
.approve-btn {
  width: 190px;
  height: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;

  color: #000000 !important;
  background: linear-gradient(90deg, #08a4f5 -0.01%, #2bede3 93.42%),
    linear-gradient(247.41deg, #a2fbb0 16.32%, #5ec4d6 87.6%) !important;
  border-radius: 6px;
}

.stake-deposit-btn {
  width: 190px;
  height: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.5);
  background: #1c1c1c;
  border-radius: 6px;
}

.container-status-button {
  width: 50%;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid;

  border-image-source: linear-gradient(90deg, #08a4f5 -0.01%, #2bede3 93.42%);
  border-image-slice: 5;
  padding-top: 24px;
  margin-top: 22px;
}

.container-status-button div {
  background-color: #1c1c1c;
  font-weight: normal;
  margin-top: -35px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-status-button .active {
  background: linear-gradient(90deg, #08a4f5 -0.01%, #2bede3 93.42%),
    linear-gradient(247.41deg, #a2fbb0 16.32%, #5ec4d6 87.6%);
  color: #000000;
}
.back-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  color: #ffffff;
}
.lock-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
.pointer {
  cursor: pointer;
}
/* @media screen and (max-width: 930px) {
  .expand-container {
    flex-direction: column;
  }
} */

/* @media screen and (max-width: 563px) {
  .stake-btn {
    width: 100px;
    font-size: 10px;
    padding: 8px;
  }
  .expand-btn {
    font-size: 9px;
    min-width: 70px;
    margin-left: 0;
  }
  .apy {
    font-size: 14px;
  }
  .wallet-amount {
    font-size: 7.5px;
  }
  .token-title {
    font-size: 19px;
  }
} */
input:focus {
  outline: none;
}
.convert-box-mint {
  height: 35px;
  padding: 1px 21px;
  background: linear-gradient(
    90deg,
    rgb(223, 244, 254, 0.25) 0%,
    rgb(142, 181, 255, 0.25) 100%
  );
  /* opacity: 0.25; */
  border: 1px solid rgba(100, 100, 100, 0.498039);
  box-sizing: border-box;
  border-radius: 6px;
}

.convert-box-mint > span {
  height: 33px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  opacity: 1;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.action-btn {
  border-radius: 6px;
  color: #ffffff;
  display: inline-block;
  padding: 1px;
  text-decoration: none;
  margin: 0 3px 5px;
  border: none;
}
.lock-btn {
  background: linear-gradient(90deg, #08a4f5 -0.01%, #2bede3 93.42%);
}
.get-btn {
  background: linear-gradient(247.41deg, #a2fbb0 16.32%, #5ec4d6 87.6%);
}
.uni-get-btn {
  background: #ec357a;
}
.action-btn span {
  background: #0d0d0d;
  display: block;
  /* padding: 1px 10px; */
  border-radius: 6px;
  width: 150px;
  height: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lock-btn span:hover {
  background: linear-gradient(90deg, #08a4f5 -0.01%, #2bede3 93.42%),
    linear-gradient(247.41deg, #a2fbb0 16.32%, #5ec4d6 87.6%) !important;
  border-radius: 6px;
}

.get-btn span:hover {
  background: linear-gradient(
    247.41deg,
    #a2fbb0 16.32%,
    #5ec4d6 87.6%
  ) !important;
  border-radius: 6px;
}

.uni-get-btn span:hover {
  background: #ec357a !important;
  border-radius: 6px;
}

.wrong-network {
  background: linear-gradient(90deg, #08a4f5 -0.01%, #2bede3 93.42%);
  border-radius: 6px;
  color: #ffffff;
  display: inline-block;
  padding: 1px;
  text-decoration: none;
  margin: 0 3px;
}
.wrong-network span {
  background: #0d0d0d;
  display: block;
  /* padding: 1px 10px; */
  border-radius: 6px;
  width: 100%;
  height: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uni-background {
  background: #2d2f35 !important;
}
.unfreez-text {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 20px;
  /* identical to box height, or 222% */

  color: #ffffff;
  padding: 0 25px;
  opacity: 0.5;
}
.pt-3 {
  padding-top: 3px;
}
.token-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}
ul.tab {
  list-style-type: none;
  background: #0d0d0d;
  border: 1px solid #1c1c1c;
  border-radius: 100px;
  display: block;
  max-width: 415px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
ul.tab li {
  float: left;
  padding: 0;
  position: relative;
}
ul.tab li label {
  padding: 9px 31px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  text-transform: uppercase;
}
ul.tab li input[type='radio'] {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  left: 15px;
}
ul.tab li input[type='radio']:checked ~ label {
  background: #1c1c1c;
  border: 1px solid rgba(61, 61, 61, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}
.checkedType {
  background: #1c1c1c;
  border: 1px solid rgba(61, 61, 61, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 285px;
  height: 35px;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 30%;
  top: -45px;
  margin-left: -112px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip .tooltip-text div {
  font-style: normal;
  font-weight: normal;
  font-size: 10.5px;
  line-height: 15px;
  background: linear-gradient(0deg, #006ae3, #006ae3);

  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
}
.tooltip .tooltip-text div img {
  padding-left: 5px;
  width: 15px;
}

.tooltip .tooltip-text::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 9px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Monument Grotesk';
}
.exit-modal-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.exit-modal-content {
  max-width: 844px;
  width: 100%;
  background: #2d2f35;
  border: 1px solid #1c1c1c;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 40px 20px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}
.exit-modal-content > p {
  margin-bottom: 20px;
}
.container-exit-modal-btn {
  display: flex;
  justify-content: center;
  margin: 40px;
}
.exit-modal-btn {
  border-radius: 6px;
  color: #ffffff;
  display: inline-block;
  padding: 1px;
  text-decoration: none;
  margin: 0 20px;
  border: none;
  background: linear-gradient(90deg, #dff4fe 0%, #8eb5ff 100%);
}
.exit-modal-btn span {
  background: #2d2f35;
  display: block;
  /* padding: 1px 10px; */
  border-radius: 6px;
  width: 150px;
  height: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lock-btn span:hover {
  background: linear-gradient(90deg, #08a4f5 -0.01%, #2bede3 93.42%),
    linear-gradient(247.41deg, #a2fbb0 16.32%, #5ec4d6 87.6%) !important;
  border-radius: 6px;
}

@media screen and (max-width: 1200px) {
  /* .expand-container {
    flex-direction: column;
  } */
  .container-staking {
    font-family: 'Monument Grotesk Semi';
    padding: 5px;
    max-width: 1000px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .flex-column {
    flex-direction: column;
  }
  .swap-BPT {
    font-size: 10.5px;
  }
  .action-btn {
    margin: 0 1px 3px;
  }
  .action-btn span {
    font-size: 10.5px;
    width: 90px;
    height: 30px;
  }
  .token-title {
    font-size: 20px;
  }
  .expand-btn {
    min-width: 65px;
    font-size: 10.5px;
  }
}
@media screen and (max-width: 992px) {
  .flex-column {
    flex-direction: column;
  }
  .wrap-box-gradient {
    width: 371px;
  }
  .wrap-box-gray {
    width: 100% !important;
  }
  .width-271 {
    max-width: 100% !important;
  }
  .fluid-footer {
    max-width: 100% !important;
  }
  .wrap-box-gradient-complete {
    max-width: 100% !important;
  }
  .swap-BPT {
    font-size: 9px;
  }
  .action-btn {
    margin: 0 1px 3px;
  }
  .action-btn span {
    font-size: 9px;
    width: 70px;
    height: 28px;
  }
  .token-title {
    font-size: 18px;
  }
  .expand-btn {
    min-width: 58px;
    font-size: 9px;
  }
}
@media screen and (max-width: 768px) {
  /* .expand-container {
    flex-direction: column;
  } */
  .flex-column {
    flex-direction: column;
  }
  .stake-btn {
    margin-bottom: 3px;
  }
  .stake-btn span {
    width: 100%;
  }
  .container-staking {
    width: 100%;
  }
  .title {
    font-size: 14px;
  }
  .title-container img {
    width: 15.8px;
  }
  .staking-desc p {
    font-size: 11px;
  }
  .container-staking {
    padding: 0px;
    width: 85%;
  }
  .swap-BPT {
    font-size: 9px;
  }
  .action-btn {
    margin: 0 1px 3px;
  }
  .action-btn span {
    font-size: 9px;
    width: 70px;
    height: 28px;
  }
  .yearn-finance img {
    width: 10px;
  }
  .staking-content {
    padding: 0px;
  }
  .token-container {
    padding: 15px;
  }
  .token-title {
    font-size: 18px;
  }
  .expand-btn {
    min-width: 58px;
    font-size: 9px;
  }
}

/* @media screen and (min-width: 563px) and (max-width: 970px) {
  .stake-btn {
    width: 117px;
  }
  .expand-btn {
    font-size: 9px;
    min-width: 70px;
    margin-left: 0;
  }
  .apy {
    font-size: 17px;
  }
  .wallet-amount {
    font-size: 9.5px;
  }
  .token-title {
    font-size: 22px;
  }
} */

@media screen and (max-width: 576px) {
  .expand-container {
    flex-direction: column;
    margin: 0 auto;
  }
  .action-btn span {
    font-size: 10px;
    width: 85px;
    height: 28px;
  }
  .token-title {
    font-size: 20px;
  }
  .swap-BPT {
    font-size: 10px;
  }
  .token-title {
    font-size: 19px;
    white-space: nowrap;
  }
  /* .tvl-container {
    position: absolute;
    width: 400px;
    left: 0;
} */
  ul.togglebuttontab {
    /* display: flex;
    flex-direction: column; */
    border-radius: 10px;
    flex-direction: column !important;
    min-width: 100%;
  }
  .stake-btn {
    margin: 5px 0;
  }
  .stake-btn span {
    width: 100%;
  }
  ul.tab li input[type='radio']:checked ~ label {
    border-radius: 10px;
  }
  .stake-deposit-btn {
    width: 100%;
  }
  ul.togglebuttontab li {
    width: 100%;
    min-width: none;
  }
  ul.togglebuttontab li label {
    width: 100%;
    min-width: none;
  }
  .collapse-trigger {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  /* .expand-container {
    flex-direction: column;
    margin: 0 auto;
  } */
  .deposit-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 60px auto 0;
  }
  .approve-btn {
    margin: 0 3px;
  }
  .title {
    font-size: 13px;
  }
  .title-container img {
    width: 15px;
  }
  .staking-desc p {
    font-size: 9px;
  }
}
@media screen and (min-width: 445px) and (max-width: 576px) {
  ul.tab li label {
    width: 110px;
  }
  ul.togglebuttontab {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  ul.togglebuttontab li {
    width: 100%;
  }
  ul.togglebuttontab li label {
    width: 100%;
  }
  .tooltip .tooltip-text {
    left: 40%;
  }
}

@media screen and (min-width: 370px) and (max-width: 445px) {
  .wrap-box-gray {
    padding: 8px 5px;
  }
  .unfreez-text {
    padding: 0 5px;
  }
  .wrap-box-gray-complete > div {
    padding: 8px 5px;
  }
  ul.togglebuttontab {
    /* display: flex;
    flex-direction: column; */
    border-radius: 10px;
  }
  ul.togglebuttontab li {
    width: 100%;
  }
  ul.togglebuttontab li label {
    width: 100%;
  }
  .hour {
    font-size: 10px;
  }
  .fluid {
    font-size: 7px;
  }
  .tooltip .tooltip-text {
    left: 57%;
    width: 200px;
  }
  .tooltip .tooltip-text div {
    font-size: 8.5px;
  }
}

@media screen and (max-width: 370px) {
  /* .tvl-container {
    position: absolute;
    width: 360px;
    left: 0;
} */
  ul.togglebuttontab {
    /* display: flex;
    flex-direction: column; */
    border-radius: 10px;
  }
  ul.togglebuttontab li {
    width: 100%;
    min-width: none;
  }
  ul.togglebuttontab li label {
    width: 100%;
    min-width: none;
  }
  .vault-exit-title {
    font-size: 10px;
  }
  .vault-exit-btn {
    font-size: 10px;
  }
  .hour {
    font-size: 8px;
  }
  .fluid {
    font-size: 5px;
  }
}
