.flex-center {
  display: flex;
  justify-content: center;
}
ul.tab {
  list-style-type: none;
  background: #0d0d0d;
  border: 1px solid #1c1c1c;
  border-radius: 100px;
  display: block;
  max-width: 415px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
ul.tab li {
  float: left;
  padding: 0;
  position: relative;
}
ul.tab li label {
  padding: 9px 31px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  text-transform: uppercase;
}
ul.tab li input[type='radio'] {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  left: 15px;
}
ul.tab li input[type='radio']:checked ~ label {
  background: #1c1c1c;
  border: 1px solid rgba(61, 61, 61, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}
.checkedType {
  background: #1c1c1c;
  border: 1px solid rgba(61, 61, 61, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 285px;
  height: 35px;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 30%;
  top: -45px;
  margin-left: -112px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip .tooltip-text div {
  font-style: normal;
  font-weight: normal;
  font-size: 10.5px;
  line-height: 15px;
  background: linear-gradient(0deg, #006ae3, #006ae3);

  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
}
.tooltip .tooltip-text div img {
  padding-left: 5px;
  width: 15px;
}

.tooltip .tooltip-text::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 9px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
@media screen and (max-width: 995px) {
  /* .flex-column {
    flex-direction: column;
  } */
  .wrap-box-gradient {
    width: 371px;
  }
  .wrap-box-gray {
    width: 100% !important;
  }
  .width-271 {
    max-width: 100% !important;
  }
  .fluid-footer {
    max-width: 100% !important;
  }
  .wrap-box-gradient-complete {
    max-width: 100% !important;
  }
}
@media screen and (max-width: 799px) {
  /* .expand-container {
    flex-direction: column;
  } */
  .stake-btn {
    margin-bottom: 3px;
  }
  .stake-btn span {
    width: 100%;
  }
  .container-staking {
    width: 100%;
  }
  .title {
    font-size: 14px;
  }
  .title-container img {
    width: 15.8px;
  }
  .staking-desc p {
    font-size: 11px;
  }
  .container-staking {
    padding: 0px;
    width: 85%;
  }
  .swap-BPT {
    font-size: 9px;
  }
  .action-btn {
    margin: 0 1px 3px;
  }
  .action-btn span {
    font-size: 9px;
    width: 70px;
    height: 28px;
  }
  .yearn-finance img {
    width: 10px;
  }
  .staking-content {
    padding: 0px;
  }
  .token-container {
    padding: 15px;
  }
  .token-title {
    font-size: 18px;
  }
  .expand-btn {
    min-width: 58px;
  }
}
@media screen and (max-width: 550px) {
  .expand-container {
    flex-direction: column;
    margin: 0 auto;
  }
  .action-btn span {
    font-size: 10px;
    width: 85px;
    height: 28px;
  }
  .token-title {
    font-size: 20px;
  }
  .swap-BPT {
    font-size: 10px;
  }
}
@media screen and (min-width: 445px) and (max-width: 570px) {
  ul.tab li label {
    width: 110px;
  }
  ul.togglebuttontab {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  ul.togglebuttontab li {
    width: 100%;
  }
  ul.togglebuttontab li label {
    width: 100%;
  }
  .tooltip .tooltip-text {
    left: 40%;
  }
}
@media screen and (max-width: 500px) {
  .token-title {
    font-size: 19px;
    white-space: nowrap;
  }
  /* .tvl-container {
    position: absolute;
    width: 400px;
    left: 0;
} */
  ul.togglebuttontab {
    /* display: flex;
    flex-direction: column; */
    border-radius: 10px;
    flex-direction: column !important;
    min-width: 100%;
  }
  .stake-btn {
    margin: 5px 0;
  }
  .stake-btn span {
    width: 100%;
  }
  ul.tab li input[type='radio']:checked ~ label {
    border-radius: 10px;
  }
  .stake-deposit-btn {
    width: 100%;
  }
  ul.togglebuttontab li {
    width: 100%;
    min-width: none;
  }
  ul.togglebuttontab li label {
    width: 100%;
    min-width: none;
  }
  .collapse-trigger {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  /* .expand-container {
    flex-direction: column;
    margin: 0 auto;
  } */
  .deposit-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 60px auto 0;
  }
  .approve-btn {
    margin: 0 3px;
  }
  .title {
    font-size: 13px;
  }
  .title-container img {
    width: 15px;
  }
  .staking-desc p {
    font-size: 9px;
  }
}
@media screen and (min-width: 370px) and (max-width: 445px) {
  .wrap-box-gray {
    padding: 8px 5px;
  }
  .unfreez-text {
    padding: 0 5px;
  }
  .wrap-box-gray-complete > div {
    padding: 8px 5px;
  }
  ul.togglebuttontab {
    /* display: flex;
    flex-direction: column; */
    border-radius: 10px;
  }
  ul.togglebuttontab li {
    width: 100%;
  }
  ul.togglebuttontab li label {
    width: 100%;
  }
  .hour {
    font-size: 10px;
  }
  .fluid {
    font-size: 7px;
  }
  .tooltip .tooltip-text {
    left: 57%;
    width: 200px;
  }
  .tooltip .tooltip-text div {
    font-size: 8.5px;
  }
}

@media screen and (max-width: 370px) {
  /* .tvl-container {
    position: absolute;
    width: 360px;
    left: 0;
} */
  ul.togglebuttontab {
    /* display: flex;
    flex-direction: column; */
    border-radius: 10px;
  }
  ul.togglebuttontab li {
    width: 100%;
    min-width: none;
  }
  ul.togglebuttontab li label {
    width: 100%;
    min-width: none;
  }
  .vault-exit-title {
    font-size: 10px;
  }
  .vault-exit-btn {
    font-size: 10px;
  }
  .hour {
    font-size: 8px;
  }
  .fluid {
    font-size: 5px;
  }
}
