.tutorial-wrap {
    display: inline-block;
    width: 30%;
    min-width: 500px;
    min-height: 100vh;
    height: 100%;
    color: #ffffff;
    background: #0d0d0d;
    border-radius: 6px;
    vertical-align: middle;
    font-weight: 400;
    font-family: Monument Grotesk;
    text-align: center;
    padding: 0 20px;
    padding-left: 25px;
    padding-top: 50px;
    p:nth-child(1) {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.5);
    }
    p:nth-child(2) {
        font-size: 20px;
        margin-top: 5px;
        color: rgba(255, 255, 255, 1);
    }
    .steps {
        margin-top: 80px;
        .step-content {
            margin-bottom: 40px;
            .step {
                display: flex;
                border-bottom: 1px solid #1c1c1c;
                padding-bottom: 20px;
                align-items: center;
                margin-bottom: 20px;
                .number {
                    text-align: left;
                    flex: 0.5;
                }
                .title {
                    text-align: left;
                    flex: 2;
                    .passed {
                        img {
                            margin-left: 10px;
                        }
                    }
                }
                .actions {
                    flex: 3;
                    .grad-wrap {
                        background: linear-gradient(90deg, #dff4fe 0%, #8eb5ff 100%);
                        height: 35px;
                        padding: 0;

                        color: #000000;
                        &:hover {
                            transition: all 0.2s;
                            filter: brightness(1.2);
                        }
                        .grad-btn {
                            font-size: 12.5px;
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            background: transparent;
                            justify-content: center;
                        }
                    }
                    .disabled-grad {
                        background: linear-gradient(90deg, #dff4fe 0%, #8eb5ff 100%);
                        &:hover {
                            filter: brightness(1);
                        }
                    }
                }
            }
            .decription {
                font-size: 15px;
                text-align: left;
                color: rgba(255, 255, 255, 0.75);
            }
        }
    }
}
