.sync-title-wrap {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-family: Monument Grotesk;
    font-weight: 400;
    width: 100%;
    text-align: center;
    .gray {
        opacity: 0.5;
    }
    img {
        margin-bottom: -20px;
    }
    .description {
        font-weight: 400;
        font-size: 12.5px;
        line-height: 17.5px;
        max-width: 640px;
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }
}
