nav {
    width: 100%;
    height: 55px;
    background: #000000;
    border-bottom: 1px solid #1c1c1c;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;

    .claimable-btn {
        font-size: 18px;
        margin-left: 20px;
        width: 260px;
        .grad {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 10px;
        }
    }

    .left-nav-wrap {
        display: flex;
        justify-content: left;
        // margin-right: 10px;
        font-size: 20px;
        line-height: 40px;
        list-style-type: none;
        // padding: 15px 0;
        text-decoration: none;

        .left-nav {
            text-decoration: none;
            margin: 0 10px;
            font-size: 18px;
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li {
                .logo-wrap {
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    color: #ffffff;
                }
            }
            // li:nth-child(1) {
            // 	a {
            // 		color: #ffffff;
            // 	}
            // 	margin-top: 8px;
            // }
            li:nth-child(2) {
                margin-left: 22px;
                font-size: 15px;
                height: 35px;
                width: 200px;
            }

            .install {
                .grad {
                    font-size: 19px;
                    display: block;
                    color: #ffffff;
                    &:hover {
                        color: #111111;
                    }
                }
            }

            .connect-wrap {
                background: linear-gradient(
                    135deg,
                    rgba(91, 204, 189, 0.14902) 0%,
                    rgba(97, 192, 191, 0.14902) 33.33%,
                    rgba(85, 188, 200, 0.14902) 74.49%,
                    rgba(105, 207, 184, 0.14902) 100%
                );
                border: 1px solid rgba(97, 192, 191, 0.25);

                border-radius: 6px;

                .connected {
                    &:hover {
                        background: #111111;
                        color: #ffffff;
                    }
                }
                .connect {
                    cursor: pointer;
                    &:hover {
                        background: #111111;
                        color: #ffffff;
                        filter: brightness(2);
                    }
                }
            }
        }

        .deus {
            vertical-align: middle;
            font-family: Lambok;
            font-size: 31px;
            font-weight: 600;
        }

        .finance {
            font-family: Monument Grotesk;
            font-weight: 400;
            font-size: 20px;
            margin-left: 10px;
            margin-top: 2.5px;
        }
    }

    .nav-mobile {
        width: 100%;
        direction: rtl;

        ul {
            margin-right: 10px;
            font-size: 20px;
            list-style-type: none;
            padding: 23px 0;
            display: flex;
            justify-content: space-around;

            a {
                text-decoration: none;
                color: #ffffff;
                padding: 2px 20px;

                .deus-sw {
                    font-family: Lambok;
                    font-weight: 600;

                    .swap {
                        font-size: 22px;
                    }
                }
            }

            li {
                .active {
                    border-bottom: 2px solid #808080;
                }
            }
        }
    }

    .right-nav {
        font-family: Monument Grotesk;
        font-weight: 400;
        .arrow-nav {
            margin-left: -5px;
            margin-bottom: 2px;
        }
        .sub-nav {
            display: none;
            position: absolute;
            min-width: 250px;
            // min-width: 300px;
            right: 0;
            top: 55px;
            z-index: 10;
            // border: 1px solid #808080;
            // padding-top: 15px;
            // border-top: none;
            background: #0d0d0d;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 0px 0px 5px 5px;
            .sub-nav-item {
                background: #0d0d0d;
                border: 2px solid #808080;
                border-bottom-width: 1px;
                border-top: none;
                color: #ffffff;
                text-align: left;
                text-decoration: none;
                font-size: 20px;
                display: block;
                .active {
                    background-color: #1d1f20;
                    border-bottom: none;
                    &:hover {
                        color: #ffffff;
                    }
                }
                a {
                    padding: 10px 0;
                    padding-right: 24px;
                    justify-content: flex-end;
                    &:hover {
                        color: #8f9a9a;
                    }
                }
                &:last-child {
                    // background: #831414;
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                    border-bottom-width: 2px;
                }
            }
        }
        ul {
            margin-right: 10px;
            font-size: 20px;
            list-style-type: none;
            height: 101%;
            display: flex;
            align-items: center;

            a {
                display: flex;
                text-decoration: none;
                color: #ffffff;
                padding: 5px 10px;
                align-items: center;
                .nav-item-top {
                    font-size: 20px;
                }
                .nav-item-bottom {
                    margin-top: -1px;
                    font-size: 12px;
                    // font-weight: 600;
                }
            }

            .nav-item {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                margin-right: 10px;
                text-align: center;
                position: relative;
                .active {
                    border-bottom: 2px solid #808080;
                }
                &:hover {
                    .nav-title {
                        opacity: 0.7;
                    }
                    .sub-nav {
                        display: block;
                    }
                }
            }
        }
    }
}

.disabled-link {
    pointer-events: none;
}

.logo {
    width: 95%;
    cursor: pointer;
    &:hover {
        filter: brightness(2);
    }
}

.dea-logo {
    height: 60px;
    margin-left: 50px;
}
.menu-mobile {
    display: none;
}

.menu-mobile-icon {
    display: none;
}
#mobile-menu {
    display: none;
}

.rinkeby {
    height: 35px;
    font-size: 16px;
    margin-left: 20px;
    // border: 1px solid #ffffff;
    padding: 0px 20px;
    font-family: Monument Grotesk;
    font-weight: 400;
    // border-radius: 8px;
    // box-shadow: 0px 0px 10px #ffffff;
    display: flex;
    align-items: center;
    background: rgba(91, 204, 189, 0.5);
    border: 1px solid rgba(97, 192, 191, 0.25);
    border-radius: 6px;
}

@media screen and (max-width: 1150px) {
    body {
        overflow-x: hidden;
    }
    nav {
        overflow: hidden;
        display: flex;
        align-items: center;

        .right-nav {
            display: none;
        }
    }

    .open-menu {
        z-index: 5;
        width: 70%;
        background-color: #000000;
        margin-right: 0;
    }

    #mobile-menu {
        display: block;
        position: fixed;
        right: 0;
        top: 0px;
        width: 250px;
        transition: 0.2s all;
        #mobile-menu {
            flex-direction: column-reverse;
        }
        height: 100%;
        // text-align: center;
        .icon-close {
            svg {
                width: 35px;
                fill: #ffffff;
                text-align: right;
                margin: 7px;
                margin-bottom: 12px;
            }
        }
        ul {
            display: flex;
            flex-direction: column-reverse;
            .active {
                background: #232833;
            }
            li {
                text-align: center;
                display: block;
                font-family: Monument Grotesk;
                font-weight: 400;
                border-bottom: 1px solid #808080;
                a {
                    margin: auto;
                    display: block;
                    padding: 20px 5px;

                    color: #ffffff;
                    text-decoration: none;
                }
                font-size: 19px;
            }
            .icon-close {
                .menu-title {
                    color: #cac8c8;
                    font-size: 25px;
                    font-weight: 700;
                    padding: 12px;
                    padding-bottom: 13px;
                }
                display: flex;
                justify-content: space-between;
                // margin-left:10px;
            }
        }
    }

    .close-menu {
        z-index: 5;
        margin-right: -300px;
    }

    .menu-mobile-icon {
        cursor: pointer;
        // z-index: 10;
        display: block;
        width: 35px;
        height: 35px;
        // padding: 17px;
        // line-height: 70px;
        svg {
            fill: #ffffff;
        }
    }
}

@media screen and (max-width: 670px) {
    nav {
        .rinkeby {
            display: none;
        }
    }
}
@media screen and (max-width: 600px) {
    nav {
        .rinkeby {
            display: none;
        }

        .claimable-btn {
            display: none;
        }
        .connect-wrap {
            display: none;
            a {
                color: #ffffff;
            }
            .grad {
                color: #ffffff;
            }
        }

        margin: 0;

        .left-nav-wrap {
            ul {
                .deus {
                    font-family: Lambok;
                    font-weight: 400;
                    font-size: 24px;
                    margin-left: 5px;
                }
            }
        }
        .right-nav {
            display: none;
            margin: 0;
            width: 100%;
            ul {
                font-size: 18px;
                li {
                    margin: 0;
                }
                margin: 0;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                a {
                    padding: 2px 0;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    nav {
        .dea-logo {
            margin-left: 13px;
        }
    }
    .logo {
        margin-left: 10px;
        img {
            width: 45px !important;
        }
    }
    // .menu-mobile-icon{
    // 	padding: 25px;
    // 	width: 20px;
    // }
}
