@import "./conductr.scss";

.over-flow-y-hidden {
    overflow-y: hidden;
}
.over-flow-y-auto {
    overflow-y: auto;
}

@keyframes scale-up {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes opacity-up {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes height-up {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

.conductr-wrap {
    // height: calc(100% - 70px) !important;
    min-height: calc(100% - 70px) !important;

    .container {
        .build-wrap {
            background-color: #242424;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            .decription {
                position: relative;

                width: 25%;
                // max-width: 25%;
                height: 100%;
                background: #1c1c1c;
                color: #ffffff;
                font-family: Monument Grotesk;
                font-weight: 600;
                text-align: left;
                padding: 0 40px;
                .step-number {
                    font-size: 15px;
                    line-height: 20px;
                    margin-top: 40px;
                    color: rgba(255, 255, 255, 0.5);
                    text-transform: uppercase;
                }
                .step-title {
                    margin-top: 10px;
                    font-size: 25px;
                    text-transform: uppercase;
                }

                .step-info {
                    margin-top: 30px;
                    transition: all 0.5s;

                    pre {
                        animation: scale-up 0.5s forwards;
                        font-family: Monument Grotesk;
                        font-weight: 600;
                        white-space: pre-wrap; /* Since CSS 2.1 */
                        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                        white-space: -pre-wrap; /* Opera 4-6 */
                        white-space: -o-pre-wrap; /* Opera 7 */
                        word-wrap: break-word; /* Internet Explorer 5.5+ */
                    }
                }
                .bar-wrap {
                    height: 70px;
                    position: absolute;
                    bottom: 10px;
                    width: calc(100% - 80px);

                    .bar-chart-wrap {
                        height: 50%;
                        background: linear-gradient(90.11deg, #69c9ce 1.13%, #d5e061 98.54%);
                        border-radius: 3px;
                        padding: 2px;
                        display: flex;
                        .bar-chart-black {
                            height: 100%;
                            width: 40%;
                            background-color: #000000;
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;
                        }
                        .bar-chart-light {
                            height: 100%;
                            width: 60%;
                            font-family: Monument Grotesk;
                            font-weight: 600;
                            font-size: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            color: #ffffff;
                            background-color: transparent;
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                            padding-left: 4px;
                        }
                    }
                    .bar-text {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            .tools {
                width: 75%;
                padding: 0 65px;
                height: 100%;
                background: #242424;
                color: #ffffff;
                position: relative;
                .note {
                    margin-top: 47px;
                    font-family: Monument Grotesk;
                    font-weight: 600;
                    font-size: 18px;
                    text-align: left;
                    margin-bottom: 14px;
                }
                .symbol-wrap {
                    height: 65px;
                    width: 100%;

                    .symbol {
                        color: #ffffff;

                        outline: none;
                        background-color: #1c1c1c;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        padding: 0 20px;
                        padding-top: 5px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 10px;
                        border: none;
                        font-family: Monument Grotesk;
                        font-weight: 600;
                        font-size: 25px;
                    }
                }
                .pilot-wrap-step1 {
                    width: 100%;
                    .title {
                        margin-top: 25px;
                        // border: 2px solid red;
                        letter-spacing: 2px;
                        font-family: Monument Grotesk;
                        font-weight: 600;
                        // font-weight: 100;
                        font-size: 48px;
                        line-height: 65px;
                        color: #ffffff;
                        img {
                            margin-left: -16px;
                            margin-bottom: -10px;
                        }
                    }
                    .title-pilot {
                        margin-top: 0px;
                        font-family: Monument Grotesk;
                        font-weight: 600;
                        color: #ffffff;
                        font-size: 20px;
                        line-height: 27px;
                        letter-spacing: 0px;
                    }
                }
                .addbox-wrap {
                    width: 100%;
                    height: 465px;
                    min-height: 465px;
                    .addbox-output {
                        padding: 0 18px;
                        text-align: left;
                        border-radius: 10px;
                        height: 100%;
                        width: 100%;
                        background: #0d0d0d;
                        font-family: Monument Grotesk;
                        font-weight: 600;
                        .name-asset {
                            font-size: 25px;
                            color: #ffffff;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            height: 70px;
                            border-bottom: 1px solid #e3e3e3;
                        }
                        .allocation {
                            height: 400px;
                            width: 100%;
                            // margin: 0 15px;
                            padding: 0 15px;
                            padding-top: 20px;
                            height: 340px;
                            display: flex;
                            .left-allocation {
                                width: 60%;
                                border-right: 1px solid #e3e3e3;
                                .added-list-wrap {
                                    width: 90%;
                                    .top {
                                        display: flex;
                                        justify-content: space-between;
                                    }
                                }
                            }
                            .right-allocation {
                                width: 40%;
                                background-color: antiquewhite;
                            }
                        }
                        .btns-wrap {
                            .add-btn-wrap {
                                width: 200px;
                                height: 35px;
                                .add-btn {
                                }
                            }
                        }
                    }
                }

                .search-wrap {
                    width: 100%;
                    height: 400px;
                    min-height: 400px;
                    margin-top: 1px;
                    .search-output {
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        width: 100%;
                        height: 100%;
                        animation: height-up 0.3s forwards;
                        border-radius: 10px;
                        padding: 0 23px 0 8px;
                        .search-item {
                            display: flex;
                            justify-content: space-between;
                            font-family: Monument Grotesk;
                            font-weight: 600;
                            font-size: 20px;
                            height: 85px;
                            border-bottom: 2px solid #e3e3e3;
                            padding-left: 10px;
                            .search-left {
                                width: 90%;
                                padding-right: 10px;
                                .search-top {
                                    display: flex;
                                    padding: 12px 0 1px 0;
                                    justify-content: space-between;
                                    .name {
                                        span:nth-child(1) {
                                            color: #ffffff;
                                            font-size: 25px;
                                        }
                                        span:nth-child(2) {
                                            color: rgba(255, 255, 255, 0.5);
                                            font-size: 15px;
                                        }
                                    }
                                }
                                .search-bottom {
                                    display: flex;
                                    justify-content: space-between;
                                    margin-top: 3px;
                                    font-size: 15px;
                                    .p1 {
                                        color: rgba(255, 255, 255, 0.5);
                                    }
                                    .profit-zero {
                                        color: #ffffff;
                                    }
                                    .profit-up {
                                        color: #33ff47;
                                    }
                                    .profit-down {
                                        color: #ff0000;
                                    }
                                }
                            }
                            .search-right {
                                width: 10%;
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;

                                // border: 1px solid red;
                                .add-btn-wrap {
                                    margin: auto;
                                    height: 35px;
                                    width: 78px;
                                    border-radius: 3px;
                                    padding: 1px;
                                    background: linear-gradient(90.11deg, #69c9ce 1.13%, #d5e061 98.54%);
                                    box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.498039);
                                    .add-btn {
                                        background: #242424;
                                        border-radius: 3px;
                                        line-height: 30px;
                                        height: 100%;
                                        color: #ffffff;
                                        font-family: Monument Grotesk;
                                        font-size: 18px;
                                        font-weight: 600;
                                        transition: all 0.3s;
                                        cursor: pointer;
                                        &:hover {
                                            color: #000000;
                                            background: transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .stepper-wrap {
                position: absolute;
                bottom: 0;
                border-top: 1px solid #555555;
                display: flex;
                justify-content: space-around;
                width: 100%;
                height: 40px;
                align-items: center;
                margin-left: -65px;
                .stepper {
                    font-family: Monument Grotesk;
                    font-size: 15px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #ffffff;
                }
                .spanner {
                    display: flex;
                    justify-content: space-between;
                    .circle {
                        background-color: #ffffff;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                    .line {
                        margin-top: 4px;
                        height: 2px;
                        width: 250px;
                        background-color: #ffffff;
                    }
                }

                &.step1 {
                    div:nth-child(n + 2) {
                        color: #555555;
                        &.spanner {
                            * {
                                background-color: #555555;
                            }
                        }
                    }
                    div:nth-child(2) {
                        .left-circle {
                            background-color: #ffffff;
                        }
                    }
                }
                &.step2 {
                    div:nth-child(n + 4) {
                        color: #555555;
                        &.spanner {
                            * {
                                background-color: #555555;
                            }
                        }
                    }
                    div:nth-child(4) {
                        .left-circle {
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    .conductr-wrap {
        .bg-conductr-wrap {
            padding-top: 0;
        }
        .container {
            padding: 15px;
            .build-wrap {
                .decription {
                    width: 30%;
                }
                .tools {
                    .search-wrap {
                        .search-output {
                            .search-item {
                                .search-left {
                                    width: 88%;
                                }
                                .search-right {
                                    width: 12%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.search-output::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}

.search-output::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: transparent;
}

.search-output::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #cdd477;
}

.grad-wrap {
    background: linear-gradient(90.11deg, #69c9ce 1.13%, #d5e061 98.54%);
    padding: 1px;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    font-family: Monument Grotesk;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    .grad {
        padding-bottom: 2px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #111111;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        transition: all 0.35s;
        &:hover {
            background-color: transparent;
            color: #000000;
        }
    }
}
