@import "fonts";
@import "nfonts";

//styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,
body,
#root {
    height: 100%;
}

body {
    background: #000000;

    // background: linear-gradient(125deg, #000000 0%, #242424 100%);
}

.app-body {
    // min-height: calc(100vh - 55px);
    padding-bottom: 50px;
}

.loader-wrap {
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 5;
    height: 100vh;
    // filter: blur(5px);
    // background: #00000088;
    .loader {
        margin: auto;
        position: fixed;
        border-radius: 50%;
        top: calc(50% - 80px);
        left: 0;
        right: 0;
        transform: translateY(-50%);
        animation: myOrbit 2s linear infinite;
    }
}

@keyframes myOrbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.blured {
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 5;
    height: 100vh;
    // filter: blur(5px);
    background: #000000;
    opacity: 0.7;
}

.hidden {
    display: none;
}

// body::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     border-radius: 10px;
//     background-color: transparent;
// }

// body::-webkit-scrollbar {
//     width: 10px;
//     height: 10px;
//     background-color: transparent;
// }

// body::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     background-color: #cdd477;
// }

.clear-fix {
    clear: both;
}

.hidden {
    display: none;
}

.vertical-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
}

.Toastify__toast {
    border-radius: 6px;
    font-family: Comfortaa;
    font-weight: bold;
}

.Toastify__toast--success {
    color: #1a111d;
    background: #00ffc8;
}

.Toastify__toast--warning {
    background: #d2386c;
}

.Toastify__toast--info {
    background: #0072b5;
}

.grad-wrap {
    background: linear-gradient(90.11deg, #69c9ce 1.13%, #d5e061 98.54%);
    padding: 2px;
    border-radius: 6px;
    color: #ffffff;
    text-align: center;
    font-family: Monument Grotesk;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    .grad {
        // padding-bottom: 2px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #111111;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: all 0.35s;
        &:hover {
            background-color: transparent;
            color: #000000;
        }
    }
}

.dea-wrap {
    text-align: left;
    float: left;
    // margin-top: -53px;
    color: #ffffff;
    font-family: "Segoe UI";
    padding-left: 40px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 57px;
    display: flex;
    align-items: center;
    text-align: center;
    &:hover {
        filter: brightness(3);
        opacity: 0.8;
    }
    img {
        border-radius: 50%;
        padding: 2px;
        // border: 1px solid #ffffff;
        // background-color: #ffffff;
        width: 45px;
        height: 45px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin: auto;
        // height: 100%;
        // min-width: 100%;
    }
}
