@font-face {
    font-family: "Monument Grotesk";
    src: url("../../assets/fonts/MonumentGrotesk-Bold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Monument Grotesk";
    src: url("../../assets/fonts/MonumentGrotesk-Medium.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Monument Grotesk";
    src: url("../../assets/fonts/MonumentGrotesk-Semi-Mono.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Monument Grotesk";
    src: url("../../assets/fonts/MonumentGrotesk-Regular.ttf");
    font-weight: 500;
}

//prev ../assets/fonts
@font-face {
    font-family: Lambok;
    src: url("../../assets/fonts/Lombok.ttf");
}

@font-face {
    font-family: Comfortaa;
    src: url("../../assets/fonts/Comfortaa.ttf");
}

@font-face {
    font-family: Segoe UI;
    src: url("../../assets/fonts/SegoeUI.woff");
}

@font-face {
    font-family: Roboto Medium;
    src: url("../../assets/fonts/Roboto-Medium.ttf");
}
