//new fonts
@font-face {
    font-family: "Monument Grotesk";
    src: url("../../assets/fonts/MonumentGrotesk-Regular.woff");
    font-weight: 300;
}

@font-face {
    font-family: "Monument Grotesk";
    src: url("../../assets/fonts/Monument/edumonumentgroteskmono-regular-webfont.woff2") format("woff2"),
        url("../../assets/fonts/Monument/edumonumentgroteskmono-regular-webfont.woff") format("woff"),
        url("../../assets/fonts/Monument/edumonumentgroteskmono-regular-webfont.ttf") format("truetype"),
        url("../../assets/fonts/Monument/edumonumentgroteskmono-regular-webfont.svg#edu_monument_grotesk_monoRg")
            format("svg");
    font-weight: 400;
}

//old fonts
@font-face {
    font-family: Lambok;
    src: url("../../assets/fonts/Lombok.ttf");
}

@font-face {
    font-family: Comfortaa;
    src: url("../../assets/fonts/Comfortaa.ttf");
}

@font-face {
    font-family: Segoe UI;
    src: url("../../assets/fonts/SegoeUI.woff");
}

@font-face {
    font-family: Roboto Medium;
    src: url("../../assets/fonts/Roboto-Medium.ttf");
}
