@font-face {
    font-family: "Monument Grotesk";
    src: url("../../assets/fonts/MonumentGrotesk-Regular.eot");
    src: url("../../assets/fonts/MonumentGrotesk-Regular.eot?#iefix") format("embedded-opentype"),
        url("../../assets/fonts/MonumentGrotesk-Regular.woff") format("woff"),
        url("../../assets/fonts/MonumentGrotesk-Regular.woff2") format("woff2"),
        url("../../assets/fonts/MonumentGrotesk-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monument Grotesk";
    src: url("../../assets/fonts/MonumentGrotesk-Bold.eot");
    src: url("../../assets/fonts/MonumentGrotesk-Bold.eot?#iefix") format("embedded-opentype"),
        url("../../assets/fonts/MonumentGrotesk-Bold.woff") format("woff"),
        url("../../assets/fonts/MonumentGrotesk-Bold.woff2") format("woff2"),
        url("../../assets/fonts/MonumentGrotesk-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Monument Grotesk";
    src: url("../../assets/fonts/MonumentGrotesk-Medium.eot");
    src: url("../../assets/fonts/MonumentGrotesk-Medium.eot?#iefix") format("embedded-opentype"),
        url("../../assets/fonts/MonumentGrotesk-Medium.woff") format("woff"),
        url("../../assets/fonts/MonumentGrotesk-Medium.woff2") format("woff2"),
        url("../../assets/fonts/MonumentGrotesk-Medium.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Monument Grotesk";
    src: url("../../assets/fonts/MonumentGrotesk-Semi-Mono.eot");
    src: url("../../assets/fonts/MonumentGrotesk-Semi-Mono.eot?#iefix") format("embedded-opentype"),
        url("../../assets/fonts/MonumentGrotesk-Semi-Mono.woff") format("woff"),
        url("../../assets/fonts/MonumentGrotesk-Semi-Mono.woff2") format("woff2"),
        url("../../assets/fonts/MonumentGrotesk-Semi-Mono.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

//prev ../assets/fonts
@font-face {
    font-family: Lambok;
    src: url("../../assets/fonts/Lombok.ttf");
}

@font-face {
    font-family: Comfortaa;
    src: url("../../assets/fonts/Comfortaa.ttf");
}

@font-face {
    font-family: Segoe UI;
    src: url("../../assets/fonts/SegoeUI.woff");
}

@font-face {
    font-family: Roboto Medium;
    src: url("../../assets/fonts/Roboto-Medium.ttf");
}
