@import 'base';
@import 'fonts';


.yellow-400-shadow {
    // filter: drop-shadow(0px 0px 30px #cfef81);
    filter: drop-shadow(0px 0px 45px #e5f571);
}

.yellow-300-shadow {
    filter: drop-shadow(0px 0px 35px #6a835d);
}

.blue-200-shadow {
    filter: drop-shadow(0px 0px 45px #7acec1);
}


.percentage{
    
}

.stake-popup{
    z-index: 10;
    color: #000000;
    height: 500px;
    width: 350px;
    background: linear-gradient(224.74deg, #5EC4D6 0.19%, #F1FC68 100.22%);
    box-shadow: 0px 2px 10px 10px #000000;
    text-align: center;
    font-family: 'Segoe UI';

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .stake-wrap{
    padding: 0 30px;

    }
    .pop-x{
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 15px;
        height:  15px;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        border: 1px solid #000000;
        border-radius: 50%;
    }
    .pop-title{
        padding: 30px 0;
        background: linear-gradient(224.74deg, #5CAEB4 0.19%, #99C586 100.22%);
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        align-items: center;
        text-align: center;
    }
    .pop-input-wrap{
        padding-top: 50px;
        background: transparent;
        margin: auto;

        .pop-max{
            position: absolute;       
            cursor: pointer;              
            top: 9px;
            right: 6px;
            height: 27px;
            width: 40px;
            font-size: 17px;
            line-height: 24px;
            border: 1px solid #989898;
            &:hover{
                opacity: 0.7;
            }
        }

        .pop-input-label{
            font-size: 22px;
            text-align: left;
        }
        .pop-input{
            position: relative;
            height: 40px;
            background: transparent;
            border: 1px solid #000000;
            padding: 2px 5px;
        input{
            border: 1px solid transparent;

            outline: none;
            font-size: 20px;
            z-index: 10;
            width: 100%;
            height: 100%;
            background: transparent;
            }
        }
    }
    .pop-btns{
        margin-top: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        .approve,.stake{
            background: transparent;
            font-size: 17px;
            border: 1px solid #000000;
            width: 50%;
            margin: 0 5px;
            cursor: pointer;
            &:hover{
                opacity: 0.5;
            }
        }
    }
    .pop-contract{
        margin: auto;
        display: block;
        margin-top: 40px;
        height: 45px;
        font-size: 22px;
        line-height: 45px;
        text-decoration: none;
        color: black;
        border: 1px solid #000000;
        position: relative;
        transition: all 0.3s;

        .arrow-triangle{
            transform: rotate(45deg);
            position: absolute;
           width: 0;
           height:  0;
           border-left: 10px solid transparent;
           border-right: 10px solid transparent;
           border-bottom: 10px solid #000000;
            top: 0px;
            right: -5px;
            // background: black;
        }
        &:hover{
            box-shadow: 0px 0px 4px 1px #1f1e1e;
        }
    }
}

.blur-me{
    // z-index: 9;
    // position: fixed;
    // background: tr;
    filter: blur(40px);
    // height: 100%;
    // width: 100%;
}

.line-top-img {
    display: block;
    width: 100%;
    object-fit: cover;

    // min-width: 100%;
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
}

.pools-unlock-wrap {
    overflow: hidden;
    max-height: 100%;



    .beta-btn {
        position: absolute;
        top: 100px;
        right: 50px;
        height: 43px;
        width: 345px;
        text-align: center;
        border-radius: 8px;
        background: #221263;
        color: #ffffff;
        font-family: Roboto Medium;
        font-size: 21px;
        font-weight: 600;
        // border: 1px solid #00ffc8;
        line-height: 43px;
    }


    .pools-unlock {
        font-family: 'Segoe UI';
        color: #ffffff;
        position: relative;
        padding-top: 150px;
        text-align: center;
        overflow: hidden;

        .liquidity-title {
            margin-top: 50px;
            font-family: "Segoe UI";
            font-size: 72px;
            font-weight: 400;
        }

        .decription {
            margin-top: 15px;
            font-family: "Segoe UI";
            font-size: 24px;
            font-weight: 400;
        }

        .pools-btn {
            cursor: pointer;
            width: 344.52px;
            height: 43.44px;
            border-radius: 8px;
            font-family: "Segoe UI";
            font-size: 21px;
            font-weight: 700;
            line-height: 43px;
            text-align: center;
            margin: auto;

            &:hover {
                opacity: 0.85;
            }
        }
        .unlock-btn {
            margin-top: 100px;
            background: #f1fc68;
            color: #101823;
        }

        .learn-more-btn {
            display: block;
            border: 1px solid #00ffc8;
            background: transparent;
            color: #ffffff;
            margin-top: 60px;
        }


    }
}


.pools-wrapper {
    
    padding-bottom: 100px;
    text-align: center;
    position: relative;
    width: 2300px;
    // max-width: 1200px;
    // padding-left: 200px;

    // .line-top {
    //     // padding-left: 200px;

    //     width: 100%;
    //     margin: auto;
    //     position: absolute;
    //     top: -100px;
    //     right: 0;
    //     left: 0;
    //     margin: auto;
    //     // box-shadow: 5px 2px 3px chartreuse;

    // }





    .connected{
        background: #00FFC8;
    }



    .line-top-img{
        top: -300px;
    }

    .pools {
        position: relative;
        margin-top: 150px;

        .staking-pools {
            color: #ffffff;
            position: absolute;
            right: 0;
            left: 0;
            top: 70px;
            // margin-top: 40px;
            font-family: "Segoe UI";

            .title {
                // position: absolute;
                // margin-top: 20px;
                font-size: 24px;
                font-weight: 400;
            }

            .desc {
                padding-top: 20px;
                font-size: 16px;
            }
        }

        .triangle-wrap {


            .triangle {
                // box-shadow: 5px 2px 3px rgb(177, 17, 70);
                background-color: #1a111d;
                margin: auto;
                width: 750px;
                height: 320px;
                clip-path: polygon(50% 0%, 100% 100%, 0% 100%);



                .stake-here {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    cursor: pointer;
                    background: linear-gradient(225deg, #5EC4D6, #9ad5a2, #F1FC68);
                    height: 80px;
                    padding-top: 20px;
                    font-family: Comfortaa;
                    font-weight: 900;
                    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
                    color: white;
                    box-shadow: 0px 2px 4px 2px #ffffff;
                    transition: 0.3s;

                    &:hover {
                        color: #000000;
                    }
                }

                .title {
                    padding-top: 30px;
                    color: white;
                    font-family: Comfortaa;
                    font-size: 35px;
                    font-weight: 700;
                }

                .apy {
                    padding-top: 25px;
                    color: white;
                    font-family: Comfortaa;
                    font-size: 18px;
                    font-weight: 600;
                }

                .provide-liquidity {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
                    color: #ffffff;
                    font-family: "Comfortaa";
                    font-size: 18px;
                    font-weight: 400;
                    height: 100%;
                    background: #1a111d;
                    text-align: center;
                    box-shadow: inset 0px 2px 4px #ffffff6b;

                }

                .provide-liquidity-wrap {
                    cursor: pointer;
                    margin: auto;
                    box-shadow: 0px 2px 4px #ffffff6b;
                    margin-top: 30px;
                    width: 250px;
                    height: 45px;
                    padding: 2px;
                    // border: solid 1px #808080;
                    // box-shadow: 0px 2px 4px #ffffff;
                    background: linear-gradient(225deg, #5EC4D6, #9ad5a2, #F1FC68);
                    transition: 0.3s;

                    &:hover {
                        box-shadow: 0px 0px 4px 1px #ffffff;
                    }
                }

                .single-asset-wrap {
                    margin: auto;
                    box-shadow: 0px 2px 4px #ffffff6b;
                    margin-top: 30px;
                    width: 250px;
                    height: 45px;
                    padding: 2px;
                    // border: solid 1px #808080;
                    // box-shadow: 0px 2px 4px #ffffff;
                    opacity: 0.5;
                    background: linear-gradient(225deg, #5EC4D6, #9ad5a2, #F1FC68);
                    .single-asset {
                        
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
                        color: #ffffff;
                        font-family: "Comfortaa";
                        font-size: 18px;
                        font-weight: 400;
                        height: 100%;
                        background: #1a111d;
                        text-align: center;
                        box-shadow: inset 0px 2px 4px #ffffff6b;
    
                    }
                }

            

                overflow: hidden;

                .boxes {
                    width: 100%;
                    margin-top: 20px;
                    // z-index: 10;
                    display: flex;
                    justify-content: center;
                }



                .box {
                    margin: 0 8px;
                    z-index: 100;
                    // width: 180px;
                    // height: 90px;
                    display: flex;
                    justify-content: start;
                    flex-direction: column;

                    .box-title-wrap {
                        padding: 1px 2px;
                        background: linear-gradient(225deg, #5EC4D6, #9ad5a2, #F1FC68);
                        width: 185px;
                        height: 45px;

                        .box-title {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            height: 100%;
                            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
                            color: #ffffff;
                            font-family: "Comfortaa";
                            font-size: 13px;
                            background: #353535;
                            padding: 0 30px;

                        }


                    }

                    .box-btn {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        cursor: pointer;
                        border: solid 2px #5EC4D6;
                        color: #ffffff;
                        font-family: "Comfortaa";
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 24px;
                        height: 40px;

                        &:hover {
                            box-shadow: 0px 0px 4px 1px #ffffff;

                        }
                    }
                }

            }

            .staked {
                .title {
                    font-size: 25px;
                }

                .apy {
                    padding-top: 15px;
                }
            }
        }


        .row-2 {
            display: flex;
            justify-content: center;
        }
    }
}


#main-wrap::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

#main-wrap::-webkit-scrollbar
{
    width: 8px;
    height: 10px;
	background-color: transparent;
}

#main-wrap::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #cdd477;
}


.main-wrap{
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 100px;
  
    

    





    .pools-btn{
        text-align: center;
        border-radius: 8px;
        // background: #221263;
        font-family: Roboto Medium;
        font-size: 21px;
        font-weight: 600;
        // border: 1px solid #00ffc8;
        line-height: 43px;
        height: 45px;
        width: 345px;
        z-index:10;
    }


    .unlock-btn {
        margin-top: 100px;
        background: #f1fc68;
        color: #101823;
   cursor: pointer;
    position: absolute;
    top: 25px;
    left: 50px;

    }

    .right-btn{
        position: absolute;
        top: 100px;
        right: 50px;
        
        
        .beta-btn{
        background: #221263;
        color: #ffffff;
        }
        .learn-more-btn {
            display: block;
            border: 1px solid #00ffc8;
            background: transparent;
            color: #ffffff;
            margin-top: 20px;
           
        }
    }
}

.scrollable {
    // scrollbar-color: #d1f07f  transparent; 
    scrollbar-color: #d3d3d3 transparent;
  }
  
  .scrollable-min::-webkit-scrollbar {
    scrollbar-color: #d1f07f transparent;
    // scrollbar-width: thin;
    // width: 20px;
    // height: 20px;
  }

  .scrollable-min::-webkit-scrollbar-track {
    // border-radius: 0;
    background: #d1f07f ; 
  }


